# PostgreSQL connection string
DB_URL=

# JWT Secret Key
SECRET_KEY=

# JWT Algorithm
ALGORITHM=HS256

# Access token lifetime (7 days)
ACCESS_TOKEN_EXPIRE_MINUTES=10080

# Google Gemini API Key
GEMINI_API_KEY=